@{
    ViewData["Title"] = "Solo personal Autorizado";
}
<h1>@ViewData["Title"]</h1>

<p>Si es personal autorizado para realizar cargas de datos y no puede igresar, comuiniquese al telefono
    0-800-999 - 0011</p>
